---
// SITE config
import { SITE } from '@config'
// global style
import '@styles/globals.scss'
// components
import MetaTags from '@components/common/MetaTags.astro'
import Header from '@components/common/Header.astro'

const {
  lang,
  darkMode
} = SITE

const {
  title = '',
  page = ''
} = Astro.props
---

<!DOCTYPE html>
<html lang={lang}>
  <head>

    <MetaTags title={title} />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Noto+Sans+TC:wght@300;400;500;700&family=Cormorant+Garamond:ital,wght@1,400;1,500;1,700&display=swap" />

    {
      darkMode
      &&
      <script async>
        const theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
        document.documentElement.classList.add(theme)
      </script>
    }

  </head>
  <body class:list={[page]}>
		<Header />
		<main>
			<slot />
		</main>
  </body>
</html>
